<h1>Choose a location</h1>
<div class="box">
    <div class="row">
        @for (location of locations; track location.name) {
        <mat-card class="location-item">
            <mat-card-content>
                <div class="location-box">
                    <div class="flag-box">
                        <img [ngSrc]="flagsRootPath + location.flagPath" width="105.7" height="70"
                            alt="Location Flag" />
                    </div>
                    <div class="location-text">
                        <span>{{ location.name }}</span>
                    </div>
                    <div class="action-box">
                        <button mat-icon-button #action (click)="viewForecasting(location)">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        }
    </div>
</div>